


.wrapper {
	background-color: rgb(255, 238, 230);
/*	rgb(255, 230, 230)
*/	width: 960px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;

}

#header {
	background-color: rgb(255, 230, 230);
	margin-bottom: 30px; 
	padding: 20px 0;

}

#header ul {

	text-align: center;
	margin-left: -30px;  /** to make it aligned perfectly : **/
}

#header ul  li {

	display: inline; /** pour faire en sorte que les points ne restent pas sur la gauche mais soient centré aussi **/

}

#header h1 {

	text-align: center;
}

#header a {
	text-decoration: none;
	color: black;
	transition: color 0.3s;
}

#header a:hover {
	text-decoration: none;
	color: hotpink;
}


#content {
	text-align: center;
}

#content img {

		float: left;
	
}

#content ul a{
	color: rgb(128, 0, 42);
}

.R
{text-align: right;
clear: both;}

.L
{

text-align: left;
clear: both;
}

.left{
	float: left;
}
.decale{

	margin-left: 35px;

}

.decales{
	margin-right: 35px;
}
.right{
	float: right;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 5px;
}

.box2 {
  text-align: center;
  width: 50%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.kk{clear: both;}